body {
    background-color: #B7B7A4;
}
#img-form {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    background-color: #f0efeb;
    height: 80%;
    margin: auto;
}
input[type=text] {
    display: block;
    padding: 16px 32px;
    margin: auto;
    background-color: white;
    left: 20%;
    width: 75%;
    margin-top: 10%;
    text-align: center;
    height: 70px;
    font-size: 24px;
    font-family: "Lucida Console", "Courier New", monospace;
}
input[type=submit] {
    display: block;
    background-color: #3F4238;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 10px;
    width: 75%;
    height: 70px;
    font-size: 24px;
    font-family: "Lucida Console", "Courier New", monospace;
  }