<html>
    <head>
        <title>Food Ingredient Finder</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <form action="{{ url_for('findIngredients') }}" method="post">
                <input type="text" name="query_url" placeholder="Paste in a URL of an image" id="image-upload">
                <input type="submit" value="Submit" class="sub">
            </form>
            <div id="pic">
                {% if img %}
                    <h2>Your submission: </h2>
                    <img id="query-img" src={{ img }}>
                {% endif %}
            </div>
            <div id="ingredients">
                {% if foods %}
                    <h2>Food Matches</h2>
                <ul>
                    {% for item in foods %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <br>
                {% if carbons and carbons !=[] %}
                    <h2>Greenhouse Gas Emissions</h2>
                    <h4>In Lbs of CO<sub>2</sub> per Kilogram of Food Product</h4>
                    <ul>
                        {% for item in carbons %}
                            <li>{{ item[0] }}: {{ item[1] }}</li>
                        {% endfor %}
                    </ul>
                    <br>
                    <h3>That could mean the equivalent of...</h3>
                    <ul>
                        <li>Greenhouse gas emissions from <b>{{equiv["mi"]}}</b> miles driven by an average passenger vehicle</li>
                        <li>CO<sub>2</sub> emissions from <b>{{equiv["gas"]}}</b> gallons of gasoline consumed</li>
                        <li>CO<sub>2</sub> emissions from <b>{{equiv["coal"]}}</b> pounds of coal burned</li>
                        <li>CO<sub>2</sub> emissions from <b>{{equiv["phone"]}}</b> phones charged</li>
                        <li>Carbon sequested by <b>{{equiv["trees"]}}</b> tree saplings grown for 10 years</li>
                    </ul>
                {% elif carbons %}
                    <h3>Match Failure</h3>
                    <p>Unfortunately, we weren't able to match your picture with an item in our food to carbon database.</p>
                    <p>Please try another image.</p>
                {% endif %}
            </div>
        </div>
    </body>
</html>