<html>
    <head>
        <title>Food Ingredient Finder</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="img-form">
            <form action="{{ url_for('findIngredients') }}" method="post">
                <input type="text" name="query_url" placeholder="Paste in a URL of an image" id="image-upload">
                <input type="submit" value="Submit" class="sub">
            </form>
        </div>
    </body>
</html>